.tv-langselector {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 20%;
  padding-left: 20%;
}

.tv-langselector button {
  border: 0px;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
}

.tv-langselector button.current-lang {
  color: var(--main-accent-color);
}

.tv-langselector button:focus {
  outline: 0px;
}

.tv-langselector button:hover {
  color: var(--main-accent-color);
}
