.tv-sidebar-content {
  flex: 1 1 auto;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.tv-sidebar-content .tv-header {
  margin-left: 20px;
  margin-right: 63px;
  padding-top: 100px;
  padding-bottom: 64px;
}

.logo-container {
  position: relative;
  height: 0;
  width: 100%;
  padding: 0;
  padding-bottom: 30%;
}

.logo-container .logo {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.tv-navigation .tv-navigation-item {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  width: 100%;
}

a.tv-link {
  color: var(--font-main-color);
  text-decoration: none;
}

a.tv-link:hover {
  color: var(--main-accent-color);
}

a.tv-link-current {
  color: var(--main-accent-color);
  text-decoration: none;
}

.tv-sidebar-content .tv-footer {
  margin-top: auto;
  margin-bottom: 36px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.tv-sidebar-content .tv-footer .tv-copyright {
  margin-left: 20px;
}

.tv-copyright p {
  margin-top: 0;
  margin-bottom: 0;
}

.tv-sidebar-content .tv-footer .tv-language {
  position: relative;
}

.tv-sidebar-content .tv-footer .tv-language-placeholder {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
