.tv-about-content {
  margin-top: 110px;
}

.headline {
  margin-bottom: 24px;
}

.tv {
  font-weight: 700;
}

.tv-map {
  font-weight: 700;
  color: var(--main-accent-color);
}

.tv-phonetics {
  font-style: italic;
}
