a.tv-hyperlink {
  text-decoration: none;
  color: var(--secondary-accent-color);
  font-weight: 500;
}

a.tv-hyperlink:hover {
  color: var(--main-accent-color);
}
/* 
a.tv-hyperlink:visited {
  color: var(--font-main-color);
} */

.tv-about-content {
  margin-top: 110px;
  margin-bottom: 50px;
}

.tv-about-headline {
  margin-bottom: 24px;
}

.tv-about-feedback {
  margin-top: 24px;
}

.tv-about-text p {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.tv {
  font-weight: 700;
}

.tv-map {
  font-weight: 700;
  color: var(--secondary-accent-color);
}

.tv-phonetics {
  font-style: italic;
}
