.tv-map-arrow:before {
  color: #000 !important;
}

.place-info {
  width: 460px;
  padding-left: 40px;
  padding-top: 20px;
  padding-right: 20px;
}

.place-info-content {
  padding-right: 20px;
  font-family: "Roboto";
  color: #1a1818;
}

.place-close {
  display:flex;
  justify-content: flex-end;
}

.cross:hover {
  cursor: pointer;
}

.nam {
  font-size: 37px;
  font-weight: 900;
  line-height: 1.19;
  margin-block-start: 5px;
  margin-block-end: 20px;
}

.adr {
  font-size: 15px;
  line-height: 1.33;
  margin-block-start: unset;
  margin-block-end: 10px;
}

.desc {
  font-size: 15px;
  line-height: 1.07;
  margin-block-start: unset;
  margin-block-end: 20px;
}

.status {
  font-size: 15px;
  line-height: 1.07;
  margin-block-start: unset;
  margin-block-end: unset;
}

.state {
  font-size: 15px;
  line-height: 1.07;
  margin-block-start: unset;
  margin-block-end: 40px;
}

.upd {
  margin-block-start: 40px;
  margin-block-end: 0px;
  font-size: 15px;
  line-height: 1.07;
}

.last_upd {
  margin-block-start: 0px;
  margin-block-end: 30px;
  font-size: 15px;
  font-size: 1.07;
}
